@use "src/styles/variables";

.box{
  width:100%;
  height:100%;
  position:relative;
}

.blindIcon{
  position:absolute;
  background-color: variables.$gray-transparent;
  opacity:0.8;
  width:100%;
  height:100%;
}

.exifDataGrid {
  padding-bottom: variables.$theme-spacing * 2;
}

.camera {
  align-items: center;
  &_icon {
    font-size: 3.5rem;
    margin-right: 1rem;
  }
}

.otherInfo {
  &_element {
    display: flex;
    align-items: center;
  }

  &_icon {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}
