//define default font
$defaultFontFamily: "Arial";

//define colors for material
$background-black: #2a3139;

$white: white;

$green: rgb(122, 216, 122);
$green-transparent: rgb(122, 216, 122, 0.7);

$blue: rgb(60, 143, 225);
$blue-transparent: rgb(60, 143, 225, 0.7);

$orange: rgb(222, 92, 69);
$orange-transparent: rgb(222, 92, 69, 0.7);

$gray: rgb(192, 192, 192);
$gray-transparent: rgb(192, 192, 192,0.7);

//margin and padding unit
$theme-spacing: 8px;

//Resopnsive design
$pc-lg: 1900px;
$pc: 1024px; // PC
$tab: 680px; // Tablet
$sp: 480px; // SmartPhone

//border-line
$border-line-gray: solid 0.5px gray;

@mixin pc-lg {
  @media (max-width: ($pc-lg)) {
    @content;
  }
}

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
